@font-face {
  font-family: GermaniaOne;
  src: url('./assets/GermaniaOne-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background-image: url("./assets/background-10.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: GermaniaOne, system-ui;
  padding: 1.875em;
  --light-background: #d7d2d2;
  --highlighted-background: rgb(173, 213, 244);
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.box {
  background-color: white;
  border: 3px solid black;
  width: 100%;
  padding: 0.8rem;
}


.main-container,
.container {
  display: flex;
  flex-direction: column;
}

.main-container {
  margin-top: 2rem;
  gap: 3.5rem;
}

.container {
  gap: 1rem;
}

.header {
  font-size: 2.5rem;
  text-align: center;
  background-color: var(--light-background);
}

.sub-header {
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--light-background);
}

textarea {
  resize: none;
  text-align: left;
  font-size: 1.25rem;
  font-family: GermaniaOne, system-ui;
  height: 20vh;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.buttom-buttons {
  display: flex;
  justify-content: center;
}

button {
  font-family: GermaniaOne, system-ui;
  font-size: 1.5rem;
  width: fit-content !important;
  background-color: var(--light-background) !important;
}

.speak-box {
  display: flex;
}

.speak-btn {
  width: 2rem;
  height: 2rem;
}

.translation {
  text-align: left;
  font-size: 1.25rem;
  font-family: GermaniaOne, system-ui;
  background-color: white;
  border: 3px solid black;
  width: 100%;
  padding: 0.8rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.highlighted {
  background-color: var(--highlighted-background);
}

.translation-text {
  padding: 0 0.8rem;
}

.icons {
  display: flex;
  justify-content: end;
}

.delete-btn {
  background-image: url("./assets/trash-solid.svg");
  background-size: cover;
  padding: 0.5rem;
  margin: 0.3em;
}

.empty-history {
  background-color: white;
  border: 3px solid black;
  width: fit-content;
  padding: 0.8rem;
  font-size: 2rem;
  align-self: center;
}

@media (min-width: 768px) {
  .main-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}